
<table id="dttConsultaPedido" datatables_fixedheader="top" datatables_fixedheader_offsettop="60" class="table table-striped table-bordered table-hover table-click" width="100%">
    <thead>
        <tr>
            <th></th>
            <th>Item</th>
            <th>Material</th>
            <th>Descrição</th>
            <th>Qtde</th>
            <th>UN</th>
            <th>Vl Unit.</th>
            <th>Entr</th>
            <th>Exclui</th>
            <th>IPI</th>
            <th>ICMS</th>
            <th>CNTRL KEY</th>
            <th>CONFIRMATION</th>
        </tr>
    </thead>
    <tbody>        
    </tbody>
    <tfoot>
    </tfoot>
</table>
