/*
   quarta-feira, 2 de novembro de 201610:32:05
   User: VNF
   Server: sors0845b.mdir.co
   Database: DTB_VNF
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Tmp_TbDOC_ITEM_NFE
	(
	NFEID varchar(255) NOT NULL,
	NF_PROD_ITEM int NULL,
	NF_PROD_CPROD varchar(255) NULL,
	NF_PROD_CEAN varchar(255) NULL,
	NF_PROD_XPROD varchar(MAX) NULL,
	NF_PROD_NCM varchar(255) NULL,
	NF_PROD_CFOP varchar(255) NULL,
	NF_PROD_CFOP_DESC varchar(255) NULL,
	NF_PROD_UCOM varchar(255) NULL,
	NF_PROD_QCOM float(53) NULL,
	NF_PROD_VUNCOM float(53) NULL,
	NF_PROD_VPROD float(53) NULL,
	NF_PROD_UTRIB varchar(255) NULL,
	NF_PROD_QTRIB float(53) NULL,
	NF_PROD_VDESC float(53) NULL,
	NF_PROD_INF_ADICIONAL_ITEM varchar(255) NULL,
	NF_PROD_NVE varchar(255) NULL,
	NF_PROD_EXTIPI varchar(255) NULL,
	NF_PROD_VFRETE decimal(18, 2) NULL,
	NF_PROD_VSEG decimal(18, 2) NULL,
	NF_PROD_VOUTRO decimal(18, 2) NULL,
	NF_PROD_INDTOT int NULL,
	NF_PROD_DI varchar(255) NULL,
	NF_PROD_DETESPECIFICO varchar(255) NULL,
	NF_PROD_XPED varchar(255) NULL,
	NF_PROD_NITEMPED int NULL,
	NF_PROD_FCI varchar(255) NULL,
	NF_ICMS_PICMS decimal(18, 2) NULL,
	NF_ICMS_ORIG varchar(255) NULL,
	NF_ICMS_CST varchar(255) NULL,
	NF_ICMS_MODBC int NULL,
	NF_ICMS_PREDBC decimal(18, 2) NULL,
	NF_ICMS_VBC decimal(18, 2) NULL,
	NF_ICMS_VICMS decimal(18, 2) NULL,
	NF_ICMS_MODBCST int NULL,
	NF_ICMS_MVAST decimal(18, 2) NULL,
	NF_ICMSREDBCST decimal(18, 2) NULL,
	NF_ICMS_VBCST decimal(18, 2) NULL,
	NF_ICMS_PICMSST decimal(18, 2) NULL,
	NF_ICMS_VICMSST decimal(18, 2) NULL,
	NF_ICMS_VBCSTRET decimal(18, 2) NULL,
	NF_ICMS_VBCSTDEST decimal(18, 2) NULL,
	NF_ICMS_VICMSSTDEST decimal(18, 2) NULL,
	NF_ICMS_MOTDESICMS int NULL,
	NF_ICMS_PBCOP decimal(18, 2) NULL,
	NF_ICMS_UFST varchar(255) NULL,
	NF_ICMS_PCREDSN decimal(18, 2) NULL,
	NF_ICMS_VCREICMSSN decimal(18, 2) NULL,
	NF_ICMS_VICMSDESON decimal(18, 2) NULL,
	NF_ICMS_VICMSOP decimal(18, 2) NULL,
	NF_ICMS_PDIF decimal(18, 2) NULL,
	NF_ICMS_VICMSDIF decimal(18, 2) NULL,
	NF_IPI_CLENQ varchar(255) NULL,
	NF_IPI_CNPJPROD varchar(255) NULL,
	NF_IPI_CSELO varchar(255) NULL,
	NF_IPI_QSELO decimal(18, 2) NULL,
	NF_IPI_CENQ varchar(255) NULL,
	NF_IPI_CST varchar(255) NULL,
	NF_IPI_VBC decimal(18, 2) NULL,
	NF_IPI_PIPI decimal(18, 2) NULL,
	NF_IPI_VIPI decimal(18, 2) NULL,
	NF_IPI_QUNID decimal(18, 2) NULL,
	NF_IPI_VUNID decimal(18, 2) NULL,
	NF_II_VBC decimal(18, 2) NULL,
	NF_II_VDESPADU decimal(18, 2) NULL,
	NF_II_VII decimal(18, 2) NULL,
	NF_II_VIOF decimal(18, 2) NULL,
	NF_PIS_CST varchar(255) NULL,
	NF_PIS_VBC decimal(18, 2) NULL,
	NF_PIS_PPIS decimal(18, 2) NULL,
	NF_PIS_VPIS decimal(18, 2) NULL,
	NF_PIS_QBCPROD decimal(18, 2) NULL,
	NF_PIS_VALIQPROD decimal(18, 2) NULL,
	NF_PISST_VBC decimal(18, 2) NULL,
	NF_PISST_PPIS decimal(18, 2) NULL,
	NF_PISST_VPIS decimal(18, 2) NULL,
	NF_PISST_QBCPROD decimal(18, 2) NULL,
	NF_PISST_VALIQPROD decimal(18, 2) NULL,
	NF_COFINS_CST varchar(255) NULL,
	NF_COFINS_VBC decimal(18, 2) NULL,
	NF_COFINS_PCOFINS decimal(18, 2) NULL,
	NF_COFINS_VCOFINS decimal(18, 2) NULL,
	NF_COFINS_QBCPROD decimal(18, 2) NULL,
	NF_COFINS_VALIQPROD decimal(18, 2) NULL,
	NF_COFINSST_VBC decimal(18, 2) NULL,
	NF_COFINSST_PCOFINS decimal(18, 2) NULL,
	NF_COFINSST_VCOFINS decimal(18, 2) NULL,
	NF_COFINSST_QBCPROD decimal(18, 2) NULL,
	NF_COFINSST_VALIQPROD decimal(18, 2) NULL,
	NF_ISSQN_VBC decimal(18, 2) NULL,
	NF_ISSQN_VALIQ decimal(18, 2) NULL,
	NF_ISSQN_VISSQN decimal(18, 2) NULL,
	NF_ISSQN_CMUNFG varchar(255) NULL,
	NF_ISSQN_CLISTSERV varchar(255) NULL,
	NF_ISSQN_VDEDUCAO decimal(18, 2) NULL,
	NF_ISSQN_VOUTRO decimal(18, 2) NULL,
	NF_ISSQN_VDESCINCOND decimal(18, 2) NULL,
	NF_ISSQN_VDESCCOND decimal(18, 2) NULL,
	NF_ISSQN_VISSRET decimal(18, 2) NULL,
	NF_ISSQN_INDISS int NULL,
	NF_ISSQN_CSERVICO varchar(255) NULL,
	NF_ISSQN_CMUN varchar(255) NULL,
	NF_ISSQN_CPAIS varchar(255) NULL,
	NF_ISSQN_NPROCESSO varchar(255) NULL,
	NF_ISSQN_INDINCENTIVO int NULL,
	NF_ICMSUFDEST_VBCUFDEST decimal(18, 2) NULL,
	NF_ICMSUFDEST_PFCPUDEST decimal(18, 2) NULL,
	NF_ICMSUFDEST_PICMSUFDEST decimal(18, 2) NULL,
	NF_ICMSUFDEST_PICMSINTER decimal(18, 2) NULL,
	NF_ICMSUFDEST_PICMSINTERPART decimal(18, 2) NULL,
	NF_ICMSUFDEST_VFCPUFDEST decimal(18, 2) NULL,
	NF_ICMSUFDEST_VICMSUFDEST decimal(18, 2) NULL,
	NF_ICMSUFDEST_VICMSUFREMET decimal(18, 2) NULL
	)  ON [PRIMARY]
	 TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE dbo.Tmp_TbDOC_ITEM_NFE SET (LOCK_ESCALATION = TABLE)
GO
IF EXISTS(SELECT * FROM dbo.TbDOC_ITEM_NFE)
	 EXEC('INSERT INTO dbo.Tmp_TbDOC_ITEM_NFE (NFEID, NF_PROD_ITEM, NF_PROD_CPROD, NF_PROD_CEAN, NF_PROD_XPROD, NF_PROD_NCM, NF_PROD_CFOP, NF_PROD_CFOP_DESC, NF_PROD_UCOM, NF_PROD_QCOM, NF_PROD_VUNCOM, NF_PROD_VPROD, NF_PROD_UTRIB, NF_PROD_QTRIB, NF_PROD_VDESC, NF_PROD_INF_ADICIONAL_ITEM, NF_PROD_NVE, NF_PROD_EXTIPI, NF_PROD_VFRETE, NF_PROD_VSEG, NF_PROD_VOUTRO, NF_PROD_INDTOT, NF_PROD_DI, NF_PROD_DETESPECIFICO, NF_PROD_XPED, NF_PROD_NITEMPED, NF_PROD_FCI, NF_ICMS_PICMS, NF_ICMS_ORIG, NF_ICMS_CST, NF_ICMS_MODBC, NF_ICMS_PREDBC, NF_ICMS_VBC, NF_ICMS_VICMS, NF_ICMS_MODBCST, NF_ICMS_MVAST, NF_ICMSREDBCST, NF_ICMS_VBCST, NF_ICMS_PICMSST, NF_ICMS_VICMSST, NF_ICMS_VBCSTRET, NF_ICMS_VBCSTDEST, NF_ICMS_VICMSSTDEST, NF_ICMS_MOTDESICMS, NF_ICMS_PBCOP, NF_ICMS_UFST, NF_ICMS_PCREDSN, NF_ICMS_VCREICMSSN, NF_ICMS_VICMSDESON, NF_ICMS_VICMSOP, NF_ICMS_PDIF, NF_ICMS_VICMSDIF, NF_IPI_CLENQ, NF_IPI_CNPJPROD, NF_IPI_CSELO, NF_IPI_QSELO, NF_IPI_CENQ, NF_IPI_CST, NF_IPI_VBC, NF_IPI_PIPI, NF_IPI_VIPI, NF_IPI_QUNID, NF_IPI_VUNID, NF_II_VBC, NF_II_VDESPADU, NF_II_VII, NF_II_VIOF, NF_PIS_CST, NF_PIS_VBC, NF_PIS_PPIS, NF_PIS_VPIS, NF_PIS_QBCPROD, NF_PIS_VALIQPROD, NF_PISST_VBC, NF_PISST_PPIS, NF_PISST_VPIS, NF_PISST_QBCPROD, NF_PISST_VALIQPROD, NF_COFINS_CST, NF_COFINS_VBC, NF_COFINS_PCOFINS, NF_COFINS_VCOFINS, NF_COFINS_QBCPROD, NF_COFINS_VALIQPROD, NF_COFINSST_VBC, NF_COFINSST_PCOFINS, NF_COFINSST_VCOFINS, NF_COFINSST_QBCPROD, NF_COFINSST_VALIQPROD, NF_ISSQN_VBC, NF_ISSQN_VALIQ, NF_ISSQN_VISSQN, NF_ISSQN_CMUNFG, NF_ISSQN_CLISTSERV, NF_ISSQN_VDEDUCAO, NF_ISSQN_VOUTRO, NF_ISSQN_VDESCINCOND, NF_ISSQN_VDESCCOND, NF_ISSQN_VISSRET, NF_ISSQN_INDISS, NF_ISSQN_CSERVICO, NF_ISSQN_CMUN, NF_ISSQN_CPAIS, NF_ISSQN_NPROCESSO, NF_ISSQN_INDINCENTIVO, NF_ICMSUFDEST_VBCUFDEST, NF_ICMSUFDEST_PFCPUDEST, NF_ICMSUFDEST_PICMSUFDEST, NF_ICMSUFDEST_PICMSINTER, NF_ICMSUFDEST_PICMSINTERPART, NF_ICMSUFDEST_VFCPUFDEST, NF_ICMSUFDEST_VICMSUFDEST, NF_ICMSUFDEST_VICMSUFREMET)
		SELECT NFEID, NF_PROD_ITEM, NF_PROD_CPROD, NF_PROD_CEAN, CONVERT(varchar(MAX), NF_PROD_XPROD), NF_PROD_NCM, NF_PROD_CFOP, NF_PROD_CFOP_DESC, NF_PROD_UCOM, NF_PROD_QCOM, NF_PROD_VUNCOM, NF_PROD_VPROD, NF_PROD_UTRIB, NF_PROD_QTRIB, NF_PROD_VDESC, NF_PROD_INF_ADICIONAL_ITEM, NF_PROD_NVE, NF_PROD_EXTIPI, NF_PROD_VFRETE, NF_PROD_VSEG, NF_PROD_VOUTRO, NF_PROD_INDTOT, NF_PROD_DI, NF_PROD_DETESPECIFICO, NF_PROD_XPED, NF_PROD_NITEMPED, NF_PROD_FCI, NF_ICMS_PICMS, NF_ICMS_ORIG, NF_ICMS_CST, NF_ICMS_MODBC, NF_ICMS_PREDBC, NF_ICMS_VBC, NF_ICMS_VICMS, NF_ICMS_MODBCST, NF_ICMS_MVAST, NF_ICMSREDBCST, NF_ICMS_VBCST, NF_ICMS_PICMSST, NF_ICMS_VICMSST, NF_ICMS_VBCSTRET, NF_ICMS_VBCSTDEST, NF_ICMS_VICMSSTDEST, NF_ICMS_MOTDESICMS, NF_ICMS_PBCOP, NF_ICMS_UFST, NF_ICMS_PCREDSN, NF_ICMS_VCREICMSSN, NF_ICMS_VICMSDESON, NF_ICMS_VICMSOP, NF_ICMS_PDIF, NF_ICMS_VICMSDIF, NF_IPI_CLENQ, NF_IPI_CNPJPROD, NF_IPI_CSELO, NF_IPI_QSELO, NF_IPI_CENQ, NF_IPI_CST, NF_IPI_VBC, NF_IPI_PIPI, NF_IPI_VIPI, NF_IPI_QUNID, NF_IPI_VUNID, NF_II_VBC, NF_II_VDESPADU, NF_II_VII, NF_II_VIOF, NF_PIS_CST, NF_PIS_VBC, NF_PIS_PPIS, NF_PIS_VPIS, NF_PIS_QBCPROD, NF_PIS_VALIQPROD, NF_PISST_VBC, NF_PISST_PPIS, NF_PISST_VPIS, NF_PISST_QBCPROD, NF_PISST_VALIQPROD, NF_COFINS_CST, NF_COFINS_VBC, NF_COFINS_PCOFINS, NF_COFINS_VCOFINS, NF_COFINS_QBCPROD, NF_COFINS_VALIQPROD, NF_COFINSST_VBC, NF_COFINSST_PCOFINS, NF_COFINSST_VCOFINS, NF_COFINSST_QBCPROD, NF_COFINSST_VALIQPROD, NF_ISSQN_VBC, NF_ISSQN_VALIQ, NF_ISSQN_VISSQN, NF_ISSQN_CMUNFG, NF_ISSQN_CLISTSERV, NF_ISSQN_VDEDUCAO, NF_ISSQN_VOUTRO, NF_ISSQN_VDESCINCOND, NF_ISSQN_VDESCCOND, NF_ISSQN_VISSRET, NF_ISSQN_INDISS, NF_ISSQN_CSERVICO, NF_ISSQN_CMUN, NF_ISSQN_CPAIS, NF_ISSQN_NPROCESSO, NF_ISSQN_INDINCENTIVO, NF_ICMSUFDEST_VBCUFDEST, NF_ICMSUFDEST_PFCPUDEST, NF_ICMSUFDEST_PICMSUFDEST, NF_ICMSUFDEST_PICMSINTER, NF_ICMSUFDEST_PICMSINTERPART, NF_ICMSUFDEST_VFCPUFDEST, NF_ICMSUFDEST_VICMSUFDEST, NF_ICMSUFDEST_VICMSUFREMET FROM dbo.TbDOC_ITEM_NFE WITH (HOLDLOCK TABLOCKX)')
GO
DROP TABLE dbo.TbDOC_ITEM_NFE
GO
EXECUTE sp_rename N'dbo.Tmp_TbDOC_ITEM_NFE', N'TbDOC_ITEM_NFE', 'OBJECT' 
GO
CREATE NONCLUSTERED INDEX IX_TbDOC_ITEM_NFE ON dbo.TbDOC_ITEM_NFE
	(
	NFEID
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
COMMIT
select Has_Perms_By_Name(N'dbo.TbDOC_ITEM_NFE', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.TbDOC_ITEM_NFE', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.TbDOC_ITEM_NFE', 'Object', 'CONTROL') as Contr_Per 