@using MetsoFramework.Utils;

<div class="page-footer">
    <div class="row">
        <div class="col-xs-12 col-sm-6 right">
            <span class="txt-color-white">Validador de Nota Fiscal (VNF) - 2016.07.30.00 - Ambiente SAP: @(Uteis.GetSettingsValue<string>("SystemID")) - Service status: <b>@Uteis.GetCookieValue("ServiceStatus", "---")</b></span>
        </div>
        
    </div>
</div>