@model VNF.Portal.ViewsModel.ErrorsViewModel
@{
    ViewBag.Title = "Message";
}
<hgroup class="title">
    <h4>@Model.Local</h4>
    <hr /> 
    <br /> 
        <div class="col_20">
    <h5>@Model.Message</h5> 
</div>
</hgroup>
