@{
    ViewBag.Title = "Página não encontrada";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Página não encontrada</h1> <br />
                <h3>Verifique o endereço digitado e tente novamente</h3>
            </hgroup>
        </div>
    </section>
}