@{
    ViewBag.Title = "Falha no servidor";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Falha no servidor</h1> <br />
                <h3>Ocorreu uma falha inesperada nos nossos servidores</h3>
            </hgroup>
        </div>
    </section>
}