@{
    ViewBag.Title = "Serviço indisponível";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Serviço indisponível</h1> <br />
                <h3>Este serviço está indisponível no momento</h3>
            </hgroup>
        </div>
    </section>
}