@{
    ViewBag.Title = "Acesso negado";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Acesso negado</h1> <br />
                <h3>Você precisa ter permissão para acessar este endereço</h3>
            </hgroup>
        </div>
    </section>
}