<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--<add name="VNFContext" connectionString="data source=172.18.49.37,1902;initial catalog=DTB_PRJ_BR_VNF;user id=VNF_TEST;password=QA_VNF;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>-->
    <add name="VNFContext" connectionString="data source=TCHKIPRA49-56.MDIR.CO\SQLTEST01;initial catalog=DTB_QA_BR_VNF;user id=VNF_TEST;password=QA_VNF;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!-- GENERAL SETTINGS -->
    <add key="enableSimpleMembership" value="false" />
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="aspnet:MaxHttpCollectionKeys" value="999999" />
    <add key="appUrlPrefix" value="vnf" />
    <!--<add key="AdPath" value="LDAP://mdir.co/OU=Brazil,OU=Users,OU=Root2,DC=mdir,DC=co" />-->
    <add key="AdPath" value="LDAP://mdir.co/OU=countries,OU=userType,OU=Root2,DC=mdir,DC=co" />
    <add key="Country" value="Brazil;Chile;Peru;Uruguai" />
    <add key="AdDomain" value="mdir.co" />
    <add key="AdUser" value="soruserapplications" />
    <add key="AdPassword" value="metso@123" />
    <add key="LDAP" value="LDAP://mdir.co" />
    <!-- SAP CONNECTOR - SETTINGS -->
    <add key="Name" value="VNF_SAP_QMM" />
    <add key="MessageServerHost" value="" />
    <add key="AppServerHost" value="vhmetqmmci.hec.metso.com" />
    <add key="GatewayHost" value="" />
    <add key="Client" value="600" />
    <add key="LogonGroup" value="" />
    <add key="User" value="SORRFCNF2" />
    <add key="Password" value="2az.u3F7TDl(uLn#GyK(lr-FZcdsR_Qg[R+lv=a9" />
    <!--<add key="User" value="SORARAUJPE"/>
    <add key="Password" value="pA_210897261216"/>-->
    <add key="SystemNumber" value="00" />
    <add key="Language" value="PT" />
    <add key="PoolSize" value="" />
    <add key="PeakConnectionsLimit" value="" />
    <add key="SystemID" value="QMM" />
    <!-- PROJETO -->
    <!--<add key="ConnectionString" value="Data Source=172.18.49.37,1902;Initial Catalog=DTB_PRJ_BR_VNF;User Id=VNF_TEST;Password=QA_VNF;Pooling=false;" />
    <add key="ConnectionStringCore" value="Data Source=172.18.49.37,1902;Initial Catalog=DTB_BR_CORE;User Id=CORE;Password=CORE;Pooling=false;" />
    <add key="ConnectionStringAlgar" value="Data Source=172.18.49.37,1902;Initial Catalog=DTB_BR_VNF_FORNECEDOR;User Id=VNF_FORNECEDOR;Password=VNF_FORNECEDOR;Connect Timeout=0;Pooling=false;" />
    <add key="ConnectionStringFretes" value="Data Source=172.18.49.37,1902;Initial Catalog=DTB_QA_BR_FRETES;User Id=FRETES_TEST;Password=QA_FRETES;Pooling=false;" />
    <add key="ConnectionStringTriangulus" value="Data Source=172.29.131.46;Initial Catalog=DTB_TRIANGULUS_PRD;User Id=VNF;Password=VNF1;Pooling=false;" />-->
    <add key="ConnectionString" value="Data Source=TCHKIPRA49-56.MDIR.CO\SQLTEST01;Initial Catalog=DTB_QA_BR_VNF;User Id=VNF_TEST;Password=QA_VNF;Pooling=false;" />
    <add key="ConnectionStringCore" value="Data Source=TCHKIPRA49-56.MDIR.CO\SQLTEST01;Initial Catalog=DTB_QA_BR_CORE;User Id=CORE_TEST;Password=QA_CORE;Pooling=false;" />
    <add key="ConnectionStringAlgar" value="Data Source=TCHKIPRA49-56.MDIR.CO\SQLTEST01;Initial Catalog=DTB_QA_BR_VNF_FORNECEDOR;User Id=VNF_FORNECEDOR_TEST;Password=QA_VNF_FORNECEDOR;Connect Timeout=0;Pooling=false;" />
    <add key="ConnectionStringFretes" value="Data Source=TCHKIPRA49-56.MDIR.CO\SQLTEST01;Initial Catalog=DTB_QA_BR_FRETES;User Id=FRETES_test;Password=QA_FRETES;Pooling=false;" />
    <add key="ConnectionStringTriangulus" value="Data Source=172.29.131.46;Initial Catalog=DTB_TRIANGULUS_PRD;User Id=VNF;Password=VNF1;Pooling=false;" />
    <!--QA-->
    <!--<add key="ConnectionString" value="Data Source=sors0845b.mdir.co;Initial Catalog=DTB_VNF;User Id=VNF;Password=VNF;Pooling=false;" />
    <add key="ConnectionStringCore" value="Data Source=172.18.49.37,1902;Initial Catalog=DTB_BR_CORE;User Id=CORE;Password=CORE;Pooling=false;" />
    <add key="ConnectionStringAlgar" value="Data Source=172.18.49.37,1902;Initial Catalog=DTB_BR_VNF_FORNECEDOR;User Id=VNF_FORNECEDOR;Password=VNF_FORNECEDOR;Connect Timeout=0;Pooling=false;" />
    <add key="ConnectionStringFretes" value="Data Source=172.18.49.37,1902;Initial Catalog=DTB_BR_FRETES;User Id=FRETES;Password=FRETES;Pooling=false;" />
    <add key="ConnectionStringTriangulus" value="Data Source=172.29.131.46;Initial Catalog=DTB_TRIANGULUS_PRD;User Id=VNF;Password=VNF1;Pooling=false;" />-->
    <!--PRODUCAO-->
    <!--<add key="ConnectionString" value="Data Source=172.18.49.37,1902;Initial Catalog=DTB_BR_VNF;User Id=VNF;Password=VNF;Pooling=false;" />
    <add key="ConnectionStringCore" value="Data Source=172.18.49.37,1902;Initial Catalog=DTB_BR_CORE;User Id=CORE;Password=CORE;Pooling=false;" />
    <add key="ConnectionStringAlgar" value="Data Source=172.18.49.37,1902;Initial Catalog=DTB_BR_VNF_FORNECEDOR;User Id=VNF_FORNECEDOR;Password=VNF_FORNECEDOR;Connect Timeout=0;Pooling=false;" />
    <add key="ConnectionStringFretes" value="Data Source=172.18.49.37,1902;Initial Catalog=DTB_BR_FRETES;User Id=FRETES;Password=FRETES;Pooling=false;" />
    <add key="ConnectionStringTriangulus" value="Data Source=172.29.131.46;Initial Catalog=DTB_TRIANGULUS_PRD;User Id=VNF;Password=VNF1;Pooling=false;" />-->
    <!-- PROVIDER TYPE 
        1...................... SQL Server
        2...................... Oracle -->
    <add key="ProviderType" value="1" />
    <add key="CommandTimeOut" value="0" />
    <!-- GENERAL SETTINGS -->
    <add key="ProjectName" value="VNF" />
    <add key="PastaImportacaoTriangulus" value="\\172.29.129.1\importa$\" />
    <add key="UrlDanfeTriangulus" value="http://172.29.129.1/GdeWeb/" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="SerieMigoMiro" value="" />
    <add key="SerieMigoCte" value="15" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>