<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="SAP.Middleware.Connector">
      <sectionGroup name="ClientSettings">
        <section name="DestinationConfiguration" type="SAP.Middleware.Connector.RfcDestinationConfiguration, sapnco" />
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <SAP.Middleware.Connector>
    <ClientSettings>
      <DestinationConfiguration>
        <destinations>
          <add NAME="SAP" USER="" PASSWD="" CLIENT="" MSSERV="" GWHOST="" SYSNR="" MAX_POOL_SIZE="" POOL_SIZE="" IDLE_TIMEOUT="" />
        </destinations>
      </DestinationConfiguration>
    </ClientSettings>
  </SAP.Middleware.Connector>
  <appSettings>
    <!-- SAP CONNECTOR - SETTINGS -->
    <add key="Name" value="VNF_SAP_RMM"/>
    <add key="MessageServerHost" value=""/>
    <add key="AppServerHost" value="vhmetrmmci.hec.metso.com"/>
    <add key="GatewayHost" value=""/>
    <add key="Client" value="600"/>
    <add key="LogonGroup" value=""/>
    <add key="User" value="SORRFCNF2"/>
    <add key="Password" value="2az.u3F7TDl(uLn#GyK(lr-FZcdsR_Qg[R+lv=a9"/>
    <add key="SystemNumber" value="00"/>
    <add key="Language" value="PT"/>
    <add key="PoolSize" value=""/>
    <add key="PeakConnectionsLimit" value=""/>
    <add key="SystemID" value="RMM"/>
    
    <!-- GENERAL SETTINGS -->
    <add key="AdPath" value="LDAP://mdir.co/OU=Brazil,OU=Users,OU=Root2,DC=mdir,DC=co" />
    <add key="AdDomain" value="mdir.co" />
    <add key="AdUser" value="soruserapplications" />
    <add key="AdPassword" value="metso@123" />
    <add key="LDAP" value="LDAP://mdir.co" />
    <add key="ProjectName" value="VNF" />
    <add key="DefaultCulture" value="pt-BR" />

    <!-- CONNECTION STRING -->
    <!--<add key="ConnectionString" value="Data Source=sors0845b.mdir.co;Initial Catalog=DTB_VNF;User Id=VNF;Password=VNF;Pooling=false;" />
    <add key="ConnectionStringCore" value="Data Source=172.18.49.37,1902;Initial Catalog=DTB_BR_CORE;User Id=CORE;Password=CORE;Pooling=false;" />
    <add key="ConnectionStringAlgar" value="Data Source=172.18.49.37,1902;Initial Catalog=DTB_BR_VNF_FORNECEDOR;User Id=VNF_FORNECEDOR;Password=VNF_FORNECEDOR;Connect Timeout=0;Pooling=false;" />
    <add key="ConnectionStringFretes" value="Data Source=sors0845b.mdir.co;Initial Catalog=DTB_FRETES;User Id=FRETES;Password=FRETES;Pooling=false;" />
    <add key="ConnectionStringTriangulus" value="Data Source=172.29.131.46;Initial Catalog=DTB_TRIANGULUS_PRD;User Id=VNF;Password=VNF1;Pooling=false;" />-->

    <!--<add key="ConnectionString" value="Data Source=172.18.49.37,1902;Initial Catalog=DTB_QA_BR_VNF;User Id=VNF_test;Password=QA_VNF;Pooling=false;" />
    <add key="ConnectionStringFretes" value="Data Source=172.18.49.37,1902;Initial Catalog=DTB_QA_BR_FRETES;User Id=FRETES_test;Password=QA_FRETES;Pooling=false;" />
    <add key="ConnectionStringCore" value="Data Source=172.18.49.37,1902;Initial Catalog=DTB_BR_CORE;User Id=CORE;Password=CORE;Pooling=false;" />
    <add key="ConnectionStringAlgar" value="Data Source=172.18.49.37,1902;Initial Catalog=DTB_BR_VNF_FORNECEDOR;User Id=VNF_FORNECEDOR;Password=VNF_FORNECEDOR;Connect Timeout=0;Pooling=false;" />
    <add key="ConnectionStringTriangulus" value="Data Source=172.29.131.46;Initial Catalog=DTB_TRIANGULUS_PRD;User Id=VNF;Password=VNF1;Pooling=false;" />-->

    <!--PRODUCAO-->
    <!--<add key="ConnectionString" value="Data Source=172.18.49.37,1902;Initial Catalog=DTB_BR_VNF;User Id=VNF;Password=VNF_PRD;Pooling=false;" />
    <add key="ConnectionStringCore" value="Data Source=172.18.49.37,1902;Initial Catalog=DTB_BR_CORE;User Id=CORE;Password=CORE;Pooling=false;" />
    <add key="ConnectionStringAlgar" value="Data Source=172.18.49.37,1902;Initial Catalog=DTB_BR_VNF_FORNECEDOR;User Id=VNF_FORNECEDOR;Password=VNF_FORNECEDOR;Connect Timeout=0;Pooling=false;" />
    <add key="ConnectionStringFretes" value="Data Source=172.18.49.37,1902;Initial Catalog=DTB_BR_FRETES;User Id=FRETES;Password=FRETES_PRD;Pooling=false;" />
    <add key="ConnectionStringTriangulus" value="Data Source=172.29.131.46;Initial Catalog=DTB_TRIANGULUS_PRD;User Id=VNF;Password=VNF1;Pooling=false;" />-->

    <!--QA-->
    <!--<add key="ConnectionString" value="Data Source=TCHKIPRA49-56.MDIR.CO\SQLTEST01;Initial Catalog=DTB_QA_BR_VNF;User Id=VNF_TEST;Password=QA_VNF;Pooling=false;" />
    <add key="ConnectionStringCore" value="Data Source=TCHKIPRA49-56.MDIR.CO\SQLTEST01;Initial Catalog=DTB_QA_BR_CORE;User Id=CORE_TEST;Password=QA_CORE;Pooling=false;" />
    <add key="ConnectionStringAlgar" value="Data Source=TCHKIPRA49-56.MDIR.CO\SQLTEST01;Initial Catalog=DTB_BR_VNF_FORNECEDOR;User Id=VNF_FORNECEDOR;Password=VNF_FORNECEDOR;Connect Timeout=0;Pooling=false;" />
    <add key="ConnectionStringFretes" value="Data Source=TCHKIPRA49-56.MDIR.CO\SQLTEST01;Initial Catalog=DTB_QA_BR_FRETES;User Id=FRETES_test;Password=QA_FRETES;Pooling=false;" />
    --><!--<add key="ConnectionStringTriangulus" value="Data Source=sorssqldb02;Initial Catalog=NFE_HOM;User Id=NFE_HOM;Password=NFE_HOM;Pooling=false;" />--><!--
    <add key="ConnectionStringTriangulus" value="Data Source=172.29.131.46;Initial Catalog=DTB_TRIANGULUS_PRD;User Id=VNF;Password=VNF1;Pooling=false;" />-->

    <!-- CONNECTION STRING -->
    <!--<add key="ConnectionString" value="Data Source=172.18.49.45,1902;Initial Catalog=DTB_BR_VNF;User Id=VNF;Password=VNF_PRD;Pooling=false;" />
    <add key="ConnectionStringFretes" value="Data Source=172.18.49.45,1902;Initial Catalog=DTB_BR_FRETES;User Id=FRETES;Password=FRETES_PRD;Pooling=false;" />
    <add key="ConnectionStringCore" value="Data Source=172.18.49.45,1902;Initial Catalog=DTB_BR_CORE;User Id=CORE;Password=CORE;Pooling=false;" />
    <add key="ConnectionStringAlgar" value="Data Source=172.18.49.45,1902;Initial Catalog=DTB_BR_VNF_FORNECEDOR;User Id=VNF_FORNECEDOR;Password=VNF_FORNECEDOR;Connect Timeout=0;Pooling=false;" />
    <add key="ConnectionStringTriangulus" value="Data Source=172.29.131.46;Initial Catalog=DTB_TRIANGULUS_PRD;User Id=VNF;Password=VNF1;Pooling=false;" />-->
    <!--<add key="ConnectionString" value="Data Source=TCHKIPRA49-56.MDIR.CO\SQLTEST01;Initial Catalog=DTB_QA_BR_VNF;User Id=VNF_TEST;Password=QA_VNF;Pooling=false;" />-->
    <!--<add key="ConnectionString" value="Data Source=mazbrasob001.mdir.co;Initial Catalog=DTB_VNF;User Id=VNF_QA;Password=zYd4rjyukJhWxbE79mrt54H@;Pooling=false;" />
    <add key="ConnectionStringCore" value="Data Source=TCHKIPRA49-56.MDIR.CO\SQLTEST01;Initial Catalog=DTB_QA_BR_CORE;User Id=CORE_TEST;Password=QA_CORE;Pooling=false;" />
    <add key="ConnectionStringAlgar" value="Data Source=TCHKIPRA49-56.MDIR.CO\SQLTEST01;Initial Catalog=DTB_BR_VNF_FORNECEDOR;User Id=VNF_FORNECEDOR;Password=VNF_FORNECEDOR;Connect Timeout=0;Pooling=false;" />
    <add key="ConnectionStringFretes" value="Data Source=TCHKIPRA49-56.MDIR.CO\SQLTEST01;Initial Catalog=DTB_QA_BR_FRETES;User Id=FRETES_test;Password=QA_FRETES;Pooling=false;" />
    --><!--<add key="ConnectionStringTriangulus" value="Data Source=sorssqldb02;Initial Catalog=NFE_HOM;User Id=NFE_HOM;Password=NFE_HOM;Pooling=false;" />--><!--
    <add key="ConnectionStringTriangulus" value="Data Source=172.29.131.46;Initial Catalog=DTB_TRIANGULUS_PRD;User Id=VNF;Password=VNF1;Pooling=false;" />
    <add key="ConnectionStringTriangulusCancelamento" value="Data Source=sorssqldb02;Initial Catalog=NFE_HOM;User Id=NFE_HOM;Password=NFE_HOM;Pooling=false;" />-->

    <!--<add key="ConnectionString" value="Data Source=172.18.49.45,1902;Initial Catalog=DTB_BR_VNF;User Id=VNF;Password=VNF_PRD;Pooling=false;" />
    <add key="ConnectionStringCore" value="Data Source=172.18.49.45,1902;Initial Catalog=DTB_BR_CORE;User Id=CORE;Password=CORE;Pooling=false;" />
    <add key="ConnectionStringAlgar" value="Data Source=172.18.49.45,1902;Initial Catalog=DTB_BR_VNF_FORNECEDOR;User Id=VNF_FORNECEDOR;Password=VNF_FORNECEDOR;Pooling=false;" />
    <add key="ConnectionStringFretes" value="Data Source=172.18.49.45,1902;Initial Catalog=DTB_BR_FRETES;User Id=FRETES;Password=FRETES_PRD;Pooling=false;" />
    <add key="ConnectionStringTriangulus" value="Data Source=172.29.131.46;Initial Catalog=DTB_TRIANGULUS_PRD;User Id=VNF;Password=VNF1;Pooling=false;" />
    <add key="ConnectionStringTriangulusCancelamento" value="Data Source=sorssqldb02;Initial Catalog=NFE_HOM;User Id=NFE_HOM;Password=NFE_HOM;Pooling=false;" />-->
    
    <!--<add key="ConnectionString" value="Data Source=mazbrasob001.mdir.co;Initial Catalog=DTB_VNF;User Id=VNF_QA;Password=PEtRytfUy2jv2KTzty@zfFQP;Pooling=false;" />
    <add key="ConnectionStringFretes" value="Data Source=mazbrasob001.mdir.co;Initial Catalog=DTB_FRETES;User Id=VNF_QA;Password=PEtRytfUy2jv2KTzty@zfFQP;Pooling=false;" /> 
    <add key="ConnectionStringCore" value="Data Source=mazbrasob001.mdir.co;Initial Catalog=DTB_CORE;User Id=VNF_QA;Password=PEtRytfUy2jv2KTzty@zfFQP;Pooling=false;" />
    <add key="ConnectionStringAlgar" value="Data Source=mazbrasob001.mdir.co;Initial Catalog=DTB_VNF_FORNECEDOR;User Id=VNF_QA;Password=PEtRytfUy2jv2KTzty@zfFQP;Pooling=false;" />
    --><!--add key="ConnectionStringTriangulus" value="Data Source=mazbrasob001.mdir.co;Initial Catalog=DTB_TRIANGULUS_HOM;User Id=VNF_QA;Password=PEtRytfUy2jv2KTzty@zfFQP;Pooling=false;" /--><!-- 	
    <add key="ConnectionStringTriangulus" value="Data Source=TSORPRA131-80.mdir.co,50001;Initial Catalog=DTB_TRIANGULUS_PRD;User Id=TRIANGULUS_PRD_VNF_FRETES_QA;Password=26jnkmdgUwRCxFUBhyne9LF!;Pooling=false;" />     
    --><!--add key="ConnectionStringTriangulusCancelamento" value="Data Source=mazbrasob001.mdir.co;Initial Catalog=DTB_TRIANGULUS_HOM;User Id=TRIANGULUS_HOM_VNF_QA;Password=Q8r4hrw6SRuNdqzXxPtD!zWp;Pooling=false;" /--><!--
    <add key="ConnectionStringTriangulusCancelamento" value="Data Source=TSORPRA131-80.mdir.co,50001;Initial Catalog=DTB_TRIANGULUS_PRD;User Id=TRIANGULUS_PRD_VNF_FRETES_QA;Password=26jnkmdgUwRCxFUBhyne9LF!;Pooling=false;" />-->
    <add key="ConnectionString" value="Data Source=mazbrasob001.mdir.co;Initial Catalog=DTB_VNF_NELES;User Id=VNF_NELES_QA;Password=UnYdvYNe88DpLun75FPE@gFT;Pooling=false;" />
    <add key="ConnectionStringFretes" value="Data Source=mazbrasob001.mdir.co;Initial Catalog=DTB_FRETES_NELES;User Id=VNF_NELES_QA;Password=UnYdvYNe88DpLun75FPE@gFT;Pooling=false;" />
    <add key="ConnectionStringCore" value="Data Source=mazbrasob001.mdir.co;Initial Catalog=DTB_CORE;User Id=VNF_NELES_QA;Password=UnYdvYNe88DpLun75FPE@gFT;Pooling=false;" />
    <add key="ConnectionStringAlgar" value="Data Source=mazbrasob001.mdir.co;Initial Catalog=DTB_VNF_FORNECEDOR;User Id=VNF_NELES_QA;Password=UnYdvYNe88DpLun75FPE@gFT;Pooling=false;" />
    <!--add key="ConnectionStringTriangulus" value="Data Source=mazbrasob001.mdir.co;Initial Catalog=DTB_TRIANGULUS_HOM;User Id=VNF_QA;Password=PEtRytfUy2jv2KTzty@zfFQP;Pooling=false;" /-->
    <add key="ConnectionStringTriangulus" value="Data Source=TSORPRA131-80.mdir.co,50001;Initial Catalog=DTB_TRIANGULUS_PRD_NELES;User Id=TRIANGULUS_PRD_VNF_FRETES_NELES_QA;Password=3KXA695dBMKJatug995sRtf@;Pooling=false;" />
    <!--add key="ConnectionStringTriangulusCancelamento" value="Data Source=mazbrasob001.mdir.co;Initial Catalog=DTB_TRIANGULUS_HOM;User Id=TRIANGULUS_HOM_VNF_QA;Password=Q8r4hrw6SRuNdqzXxPtD!zWp;Pooling=false;" /-->
    <add key="ConnectionStringTriangulusCancelamento" value="Data Source=TSORPRA131-80.mdir.co,50001;Initial Catalog=DTB_TRIANGULUS_PRD_NELES;User Id=TRIANGULUS_PRD_VNF_FRETES_NELES_QA;Password=3KXA695dBMKJatug995sRtf@;Pooling=false;" />


    <!-- PROVIDER TYPE 
        1...................... SQL Server
        2...................... Oracle -->
    <add key="ProviderType" value="1" />
    <add key="CommandTimeOut" value="0" />

    <!-- APPLICATION SETTINGS -->
    <add key="PastaImportacaoTriangulus" value="\\172.29.129.2\importa$\" />
    <add key="UrlDanfeTriangulus" value="http://172.29.129.2/GdeWeb/" />
    <add key="TimerInterval" value="30000" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>